.search-item {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
}

.search-item .top-info {
  display: flex;
  align-items: center;
  justify-content: left;
  gap:1em;
}

.search-item .score {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid white;
  margin: 1em;
  padding: 0.25em 0.5em;
}