a.no-format {
  text-decoration: none;
  color: inherit;
}

a.no-format:hover {
  text-decoration: none;
  color: inherit;
}

.search-item {
  display: flex;
  width:80vw;
  max-width: 720px;
  margin: 1em;
  padding: 1.8em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.search-item > img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  margin-right: 1em;
}

.search-item .right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.search-item .right-content .aka {
  margin: 0;
}

.search-item .top-info {
  display: flex;
  align-items: center;
  justify-content: left;
  gap:1em;

  text-overflow: ellipsis;

}

.search-item .top-info h2 {
  margin: 0;
}

.search-item .genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 0;
}

.search-item .genres span {
  background-color: rgb(255, 220, 239);
  padding: 0.25em 0.5em;
  border-radius: 5px;
}

.search-item .score {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid white;
  margin: 1em;
  padding: 0.25em 0.5em;
}

.search-item .description {
  word-wrap: break-word;
  white-space:pre-wrap;

}